ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #6b60dd  ));
}

ion-menu.md ion-content {
  --padding-start:8px;
  --padding-top: 20px;
  
}

ion-menu.md ion-list {
  padding: 20px 0;
  --background: #6b60dd;

}


ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #6b60dd );
  
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 700;
  --background: #6b60dd; 
  --color: #f9f9fc;
  min-height: 20px;
  margin-bottom: 50px;
  padding-left: 55px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 0px;
  
}

ion-menu.md ion-item.selected {
  --background: #f9f9fc;
}

ion-menu.md ion-item.selected ion-icon {
  color: black;
}

ion-menu.md ion-item ion-icon {
  color: #f9f9fc;
}

ion-menu.md ion-item ion-label {
  font-weight: bolder;
  color: #f9f9fc;
  margin-right: 0;
}
ion-menu.md ion-item.selected ion-label {
  color: black;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
  
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  
}


ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  
}

ion-menu.ios ion-item.selected ion-icon {
  color: black;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
  
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
  
}

ion-item.selected {
  --color: #6b60dd;
  --border-radius: 30px 0 0 30px;
  
  
}

ion-item{
  --background: #6b60dd;
  padding-left: 20px;
  
  
}

ion-list{
  background-color: #6b60dd;
}
ion-icon{
  margin-left: 20px;
}
ion-menu{
  width: 250px;
}

ion-img{
  width: 60px;
  height: 20px;
}
